# Ignore SQLite3 database files
*.db

# Ignore compiled Python files
*.py[cod]

# Ignore backup files
*~

# Ignore temporary build directories for Sphinx / pip / setuptools
build
_build
dist
ulm.egg-info
.reqs
